####################################
# OS
####################################

.DS_Store
Thumbs.db


####################################
# Editor / IDE
####################################

.vscode/
.idea/
*.swp
*.swo


####################################
# Environment Variables
####################################

.env
.env.*
!.env.example


####################################
# Python (Backend)
####################################

__pycache__/
*.py[cod]
*$py.class

*.so
.Python
venv/
env/
ENV/
.venv/

pip-log.txt
pip-delete-this-directory.txt

*.sqlite3


####################################
# FastAPI / Python build
####################################

dist/
build/
*.egg-info/


####################################
# Node / Frontend
####################################

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


####################################
# Vite / Vue build output
####################################

fe/node_modules/
fe/dist/


####################################
# Testing / coverage
####################################

coverage/
htmlcov/


####################################
# Docker
####################################

docker-compose.override.yml
*.log


####################################
# Misc
####################################

*.tmp
*.temp
*.bak